<head>
	<!-- 모바일에서 화면 확대 못하게 막음 -->
	<meta name="viewport" content="initial-scale=0.35, maximum-scale=0.35, minimum-scale=0.35, user-scalable=no" /> 
	<meta charset="utf-8" /> 
	<link rel = "stylesheet" href = "~/css/Layout.css">
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!--script type= "module" src="~/lib/polyfill/classList.min.js"></script>
	<script type= "module" src="~/lib/polyfill/resize-observer-polyfill/dist/ResizeObserver.js"></script>
	<script type= "module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script-->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src = "~/js/menu.js"></script>
	<title>Lawsuit3310</title>
</head>
<body>
	<header class = "header">
		<span class = "logo"><a href = "/">로고입니다</a></span>
		<div class = "menubtn">
			<span ontouchend = "menuToggle();"></span>
		</div>
	</header>
	<div class = "menu">
		<div class = "menubtn">
			<span ontouchend = "menuToggle();"></span>
		</div>
		<div class = "clearfix">
		</div>
		<ul style = "color : white">
			<li><a asp-controller = "Stock" asp-action = "Index" ><span>Investment</span></a></li>
			<li><a><span>Investment</span></a></li>
			<li><a><span>Investment</span></a></li>
		</ul>
	</div>
	<div class = "wrapper">
		<div class = "content">
			@RenderBody()
		</div>
	</div>
</body>