<link rel = "stylesheet" href = "~/css/stock/index.css">
@{
    Layout = "_Layout";
}

<div ng-app = "InvestmentApp" class = "h-100 w-100">
	<div ng-controller = "InfoTodayController">
	</div>
	
	<div ng-view></div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>   
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-resource.js"></script>
<script type="text/javascript" src="~/js/stock/application.js"></script>
<script type="text/javascript" src="~/js/httpRequests/stock.js"></script>