@using HttpRequests.KInv;
<link rel = "stylesheet" href = "~/css/stock/index.css">
<script src="~/lib/angular/angular.min.js"></script>

@{
    Layout = "_Layout";
}
<div class = "searcher">
	<div style = "width : 100%; height : 100%; padding-bottom : 5%; background-color : #111112;">
		<input type = "text" class = "search_box"  name="query" placeholder="Search..."></input>
	</div>
</div>
<div class = "stockList">
</div>

<script src = "~/js/stock/search.js"></script>
