@using HttpRequests.KInv;
<link rel = "stylesheet" href = "~/css/stock/index.css">
<script src="~/lib/angular/angular.min.js"></script>

@{
    Layout = "_Layout";
}
<div class = "searcher">
	<div style = "width : 100%; height : 100%; padding-bottom : 5%; background-color : #111112;">
		<input type = "text" class = "search_box"  name="query" placeholder="Search..."></input>
	</div>
</div>

<div class = "context_wrapper">
	<div class = "stock_home context active" >
		<div class = "charts">
			<canvas id="KOSPI" width="400" height="400"></canvas>
			<canvas id="KOSDAQ" width="400" height="400"></canvas>
			<canvas id="NASDAQ" width="400" height="400"></canvas>
			<canvas id="SNP500" width="400" height="400"></canvas>
			<canvas id="DWJS" width="400" height="400"></canvas>
			<canvas id="NIKKEI" width="400" height="400"></canvas>
		</div>
	</div>
	<div class = "stock_list context">
	
	</div>
	<div class = "stock_info context">
	
	</div>
</div>

<script src = "~/js/stock/investment.js"></script>
<script src = "~/js/stock/search.js"></script>
<script src = "~/js/stock/info.js"></script>
<script src = "~/js/stock/charManager.js"></script>
