@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
	--main-font-color: #cccccc;  /* CSS 전역 변수 선언 */
}

* {font-family : "Paperlogy-8ExtraBold"; box-sizing: border-box;}

.nav-item {font-family : "Paperlogy-5Medium";}

.content-body {padding-top : 10vh; color : var(--main-font-color) }

.content {
	box-sizing: border-box;
	height : 90%;
}

.content::-webkit-scrollbar {
  display: none;
}